<!-- -->
<ion-content padding class="animated fadeIn login auth-page"> 
  <div class="login-content">
  
      <!-- Logo -->
      <div padding-horizontal text-center class="animated fadeInDown">
        <div class="logo"></div>
        <h2 ion-text class="text-primary">
          <strong>Wastless</strong>
          <p> Economisons notre argent </p>
        </h2>
      </div>
  
      <!-- Login form -->
      <form class="list-form" [formGroup]="myForm">
   
        <ion-item>
          <ion-label floating>
            <ion-icon name="mail" item-start class="text-primary"></ion-icon>
            Email
          </ion-label>
          <ion-input required type="email" [(ngModel)]="user.userMail" name="userMail" formControlName="userMail"></ion-input> 
          
        </ion-item>
        <ion-item no-lines *ngIf="(myForm.get('userMail').hasError('required') || myForm.get('userMail').hasError('pattern')) && myForm.get('userMail').touched">
            <div class="alert alert-danger" role="alert" *ngIf="myForm.get('userMail').hasError('pattern') && myForm.get('userMail').touched">
                email de forme : abc@abc.abc
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="myForm.get('userMail').hasError('required') && myForm.get('userMail').touched">
                vous devez saisir un email
            </div>
        </ion-item>
  
        <ion-item>
          <ion-label floating>
            <ion-icon name="lock" item-start class="text-primary"></ion-icon>
            Password
          </ion-label>
          <ion-input required type="password" [(ngModel)]="user.userPassword" name="userPassword" formControlName="userPassword">
          </ion-input>
        </ion-item>
        <ion-item no-lines *ngIf="(myForm.get('userPassword').hasError('required') || myForm.get('userPassword').hasError('minlength')) && myForm.get('userPassword').touched">
            <div class="alert alert-danger" role="alert" *ngIf="myForm.get('userPassword').hasError('minlength') && myForm.get('userPassword').touched">
              votre mot de passe doit contenir au moins 6 caracteres
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="myForm.get('userPassword').hasError('required') && myForm.get('userPassword').touched">
                vous devez saisir un mot de passe
            </div>
        </ion-item>
     
      
  
      
      <div>
        <button ion-button icon-start tappable (click)="logIn()" block [disabled]="!myForm.controls.userMail.valid">
          <ion-icon name="log-in"></ion-icon>
          SIGN IN
          <ion-spinner id="spinner" name="circles" *ngIf="done == false"></ion-spinner> 
        </button>
      </div>
    </form>
  
  
      <!-- Other links -->
      <div text-center margin-top>
        <span ion-text color="secondary" tappable (click)="register()">New here? <strong>Sign up</strong></span>
      </div>
  
    </div>
  </ion-content>