
<ion-header>

    <ion-navbar>
  
      <button ion-button menuToggle><ion-icon name="menu" menuToggle></ion-icon></button>
      <ion-title>
        <ion-searchbar  (keyup.enter)="getOffres($event)" > </ion-searchbar>
      </ion-title>
    </ion-navbar>
  
  </ion-header>
  
  <ion-content padding class="bg-dark">
    
  <ion-list *ngIf="OffLenght !== 0">
  
    <div  *ngFor="let off of offrs">
    <ion-item class="bg-secondary text-light"  (click)="goToPageOfferConsult(off.ProductId)">
      <div class="row align-items-center">
  
        <img class="col-12 col-md-3" alt="" src="https://www.tuxboard.com/photos/2016/10/plus-belles-filles-internet-12.jpg">
  
        <div class="col-12 col-md-6"><br>
          <h3>{{off.ProductName}} <small> <ion-badge item-end class="btn-info">{{off.ProductPrice}} EUR</ion-badge></small> </h3>
          <p  class="text-light">{{off.ProductDescription}}</p>

        </div>
  
      </div>
    </ion-item><br>
  </div>
  
  </ion-list>
  
  </ion-content>
  
  
  <ion-menu type="overlay" side="left" [content]="mycontent">
  
      <ion-header>
          <ion-toolbar>
            <ion-title  (click)="openPage('UserHomePage')"  >

             <p style="color: #00ccff; font-family: Snell Roundhand, cursive; ">

              <img src="{{userMe.userPicture}}" width="10%" height="10%" class="rounded-circle mr-4 ">
               {{userMe.userName}} 

              </p> 
            
            </ion-title>
          </ion-toolbar>
        </ion-header>
  
    <ion-content>
        <ion-list>
           
             <button ion-item (click)="openPage('OfferSearchPage')">
              <p> <ion-icon name="md-search" class="mr-5"></ion-icon> Search </p> 
             </button> 

             <button ion-item (click)="openPage('AddOfferPage')">
              <p> <ion-icon name="md-add" class="mr-5"></ion-icon> Add </p>
             </button> 

             <button ion-item (click)="openPage('MyPubsPage')">
                <p> <ion-icon name="md-albums" class="mr-5"></ion-icon> My publications </p>
             </button> 
  
             <button ion-item (click)="openPage('DrivingPage')">
              <p> <ion-icon name="md-basket" class="mr-5"></ion-icon> Driving </p>
             </button> 

             <button ion-item (click)="openPage('ViewHistoryPage')">
                <p> <ion-icon name="ios-archive" class="mr-5"></ion-icon> History </p>
             </button> 
  
             <button ion-item (click)="openPage('SignOutPage')">
              <p> <ion-icon name="md-log-out" class="mr-5"></ion-icon> Sign Out </p>
             </button> 
       
        </ion-list>
      </ion-content>
  </ion-menu>
  <ion-nav #mycontent [root]="rootPage"></ion-nav>